intermediates/
bin/
lib/
debug/
release/
Debug/
Release/
.vs
.gdb_history
.vimspector.json
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.pro.user
compile_flags.txt
build_and_run.sh
readme.html
qrc_resources.cpp
