BasedOnStyle: Webkit
BreakBeforeBraces: Mozilla
BinPackArguments: true
IncludeBlocks: Regroup
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakTemplateDeclarations: Yes
AlignArrayOfStructures: Left
